# Default code owners
@sdkitagawa
@snkitagawa

# Pull request touching javascript files
README.md @sdkitagawa
*.js    @sdkitagawa
*.js    @snkitagawa

# Pull request touching avatar folder
avatar/ @sdkitagawa
